/*styling form css*/

.container{
  width: 600px;
  margin:0 auto;
}
h1{
  text-align: center
}
fieldset{
  padding: 40px;
  border: solid 1px #333;
  background-color: #eee;
}

fieldset legend {
  background: white;
  padding: 10px;
  border: solid 1px #333;
}
input[type="text"],input[type="tel"],input[type="email"],textarea {
  padding: 10px;
  margin: 0 0 20px;
  border: solid 1px #454545;
  display: block;
  width: 50%;
  font-size: 14px;
  color: #777;
  font-family: Monaco,monospace;
  text-transform: capitalize;
  
}
textarea {
  resize:vertical;
}
label {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  width: 50%;
  
}
input[type="submit"]{
  background: none;
  background: url('button_background.jpg');
  height:40px;
  border: solid 1px #777;
  padding: 0 40px;
  color: #fff;
}

input[type="submit"]:hover{
  cursor: pointer;
  border-color: #444;
}

input[type="submit"]:active{
  border-color: #111;
  outline-color: #f00;
}